name: Test Build and Deploy to GCE

on:
  push:
    branches:
    - staging

jobs:
  build:

    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v1
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build API
        run: |
          npm install
          npm run build

      - name: Upload environment variables
        run: |
          echo $SIGN_UP_REWARD >> .env
          echo $DB_CONNECTION >> .env
          echo $ADMIN_EMAIL >> .env
          echo $ADMIN_PASSWORD >> .env
          echo $ADMIN_PRIVATE_KEY >> .env
          echo $BLOCKCHAIN_NETWORK >> .env
          echo $DISTRIBUTION_CONTRACT >> .env
        env: 
          SIGN_UP_REWARD: ${{ secrets.SIGN_UP_REWARD }}
          DB_CONNECTION: ${{ secrets.DB_CONNECTION }}
          ADMIN_EMAIL: ${{ secrets.ADMIN_EMAIL }}
          ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
          ADMIN_PRIVATE_KEY: ${{ secrets.ADMIN_PRIVATE_KEY }}
          BLOCKCHAIN_NETWORK: ${{ secrets.BLOCKCHAIN_NETWORK }}
          DISTRIBUTION_CONTRACT: ${{ secrets.DISTRIBUTION_CONTRACT }}
     
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '281.0.0'
          project_id: reme-wallet-test
          service_account_key: ${{ secrets.GKE_TEST_KEY }}
      - run: |
          gcloud auth activate-service-account

      - uses: actions-hub/gcloud@master
        name: Deploy service
        env:
          PROJECT_ID: reme-wallet-test
          APPLICATION_CREDENTIALS: ${{secrets.GKE_KEY}}
        with:
          args: app deploy ./app-test.yaml